.item {
  width: 420px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  padding-left: 15px;
  padding-right: 15px;
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  height: 48px;
  border-radius: 4px;
}

.statusTrue {
  width: 20px;
  height: 20px;
  display: block;
  background-color: green;
  border-radius: 50%;
}

.statusFalse {
  width: 20px;
  height: 20px;
  display: block;
  background-color: red;
  border-radius: 50%;
}

.name {
  font-size: 35px;
  font-family: serif;
  font-weight: bold;
}
