.statistics {
  margin-top: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.title {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #565f66;
}

.statList {
  list-style: none;
  display: flex;
  padding: 0;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 80px;

  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 2px black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 15px;
  gap: 10px;
}
